provider "maas" {
  api_version = "2.0"
  api_key     = "{{ maas_apikey.stdout }}"
  api_url     = "{{ maas_url }}"
}
{% if configure_unifi_dhcp %}
provider "unifi" {
  username = "{{ unifi_user }}"
  password = "{{ unifi_pass }}"
  api_url = "{{ unifi_url }}"
  allow_insecure = true
}
{% endif %}